/* основной цвет текста (заголовков) #212121 */
/* вторичный цвет текста (параграфов) #757575  */
/* акцент #2196F3 */
/* белый цвет текста #FFFFFF*/

/* основной цвет фона  #F5F5F5*/
/* цвет фона в heder #FFFFFF */
/* цвет фона секция Bg и футер #2F303A */
/* цвет фона секция Склад команды#F5F4FA */

:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;

    --background-color: #FFFFFF;
    --background-color-secondary: #F5F4FA;
    --background-color-third: #2F303A;
    --background-color-accent: #2196F3;
    --background-color-aktive: #188CE8;

    --border-portfolio: #EEEEEE;
    --border-line: #ECECEC;
}

body {
 font-family: Roboto, sans-serif;
 color: var(--primary-text-color);
 background-color: var(--background-color);
}
 
/* reset style */

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}

ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

.link {
 text-decoration: none;
}
 
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid blue; */
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 2px solid orange; */

}

/* Модальне вікно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    min-width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {    
    transform: translate(-50%, -50%) scale(0.8);
    
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}

.icon-close {
    background-color: inherit;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus, 
.modal-close:hover {
    fill: #2196F3;
    
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 12px;
}



.modal-form-group{
    margin-bottom: 20px;
    
}


.name-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height:1.17;
    margin-bottom: 4px;  
    
    letter-spacing: 0.01em;
    
    color: #757575;
    
    
}

.input-wrapper{
 position: relative;
 margin-bottom: 10px;
}



.name-input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    padding-left: 42px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name-input:focus, .name-input:hover {
outline-color: #2196F3;

}

.name-input:focus + .modal-icon {
   fill: #2196F3; 
}

.modal-icon {
    position: absolute;
    top: 25%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment{
    display: block;
    width: 100%;
    max-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: 1px solid transparent;
    outline-offset: -1px;
    padding: 12px 16px;
    resize: none;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment:focus, .modal-coment:hover {
    outline-color: #2196F3;
}

.modal-coment::placeholder {
   
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}


.checkbox-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    user-select: none;
}


.checkbox-input {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.checkbox-input {
    margin-right: 8px;   
 
}

.checkbox-input:checked + .new-icon {
    border-color: #000000;
    background-color: #2196F3;
    background-image: url(../images/modal-window/icon.svg);
    background-size: contain;
    background-origin: border-box;
    background-position: center;
    
}

.new-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-right: 8px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-link {
    text-decoration-line: underline;
    
    color: #2196F3;
    margin-left: 5px;
    text-underline-offset: 2px;
}

.modal-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    
    display: block;
    
    letter-spacing: 0.06em;

    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 52px;
    margin: 0 auto;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover,
.modal-btn:focus {
    background: #188CE8;
    
}



/*-------------header-------------*/


.heder {
 background-color: var(--background-colorl);
  
}

.line {
 border-bottom: 1px solid var(--border-line);
 
}

.main {
    display: flex;
    align-items: center;
}

/* logo */

.logo {
 margin-right: 93px;
 
 font-family: Raleway;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 color: var(--black-color);
} 
  
.accent {
 color: var(--accent-color);
}

/* nav */
/* site-nav */

.navigation {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
    
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;

}

.site-nav .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.site-nav .link.current {
 color: var(--accent-color);
}

.site-nav .link.current::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}



.site-nav .link:hover,
.site-nav .link:focus {
 color: var(--accent-color);

}

/*  auth-nav*/

.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
        
} 

.auth-nav .item:not(:last-child) {
    margin-right: 50px;

}

.auth-nav .link {
    display: inline-flex;
    align-items: center;
    color: currentColor;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;   
    color: var(--text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}


.envelope-icon, .smartphone-icon {
    margin-right: 10px;
    fill: currentColor;

}

/* .smartphone-icon {
    margin-right: 10px;
} */

/* .auth-nav .link.envelope::before{
    display: inline-flex;
    content: " ";
    width: 16px;
    height: 12px;
    background-size: contain;
    background-image: url(../images/icons.svg/envelope.svg);
    margin-right: 10px;

}

.auth-nav .link.smartphone::before {
    content: " ";
    width: 10px;
    height: 16px;
    background-size: contain;
    
    background-image: url(../images/icons.svg/smartphone.svg);
    margin-right: 10px;


} */
/*--------------- main-------------- */

/* bg */

.section-bg {
    padding-top: 200px;
    padding-bottom: 200px;
   
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color:#C4C4C4;
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/section-bg/Img.jpg);
           
    background-repeat: no-repeat;
    background-position: center;

    margin-left: auto;
    margin-right: auto;
 
}
  
.bg {
 text-align: center;
}

.section-bg-title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;

    width: 721px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

}

.section-bg-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--background-color-accent);
    border: none;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 216px;
    min-height: 50px;
    left: 677px;
    top: 445px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.section-bg-button:hover,
.section-bg-button:focus {
    background-color: var(--background-color-aktive);
    text-shadow: 0px 4px 4px #000000;
       
}

/*  Інформація про сферу діяльності*/

/*  Приховали заголовок*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.activity-section {
    padding-top: 94px;
    
}


.activity-list {
    display: flex;
    
}

.activity-item {
    display: block;
    
    flex-basis: calc((100% - 90px) / 4);
    margin-right: 30px;
    margin-bottom: 30px;
}


.activity-item:nth-child(4n) {
    margin-right: 0px;
}

.activity-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
}

.activity-icons {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;

}


.activity-title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}    

.activity-text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/* сфера діяльності */

.work-section {
 padding-bottom: 94px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.work-item {
    flex-basis: calc((100% - 60px) / 3);
    
}

.work-img {
 position: relative;
 
} 

.work-img::before {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    
    content: '';
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    
}

.work-text {
    position: absolute;  
    top: 251px;
    left: 107px;
        
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}


.work-title, .team-title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}


/* Склад команды */

.team-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.box {
    text-align: center;
    padding: 30px;
    
}
.team-list {
 flex-basis: calc((100% - 90px) / 4);
 border-radius: 4px;
  
}

.team-section {
 background-color: var(--background-color-secondary);
}

.team-list {
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

}
.team-subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;  
    letter-spacing: 0.03em;
    
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-icon {
    fill: currentColor;
}


.social-link:focus,
.social-link:hover {
    color:#FFFFFF;
    background-color: #188CE8;
}

/*  Постійні клієнти*/

.clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}
.clients-list {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.clients-item {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
            
} 

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    color: #2196F3;
    border-color: #188CE8;
       
}


/* footer */

.footer {
    padding-top: 72px;
    padding-bottom: 60px;
    background-color: var(--background-color-third);

}

.footer-left {
 width: 231px;
 margin-right: 70px;
} 

.footer-container {
    display: flex;
    
    
}

.footer-logo {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
}


.footer-adress {
    font-style: normal;
   
}

.footer .footer-text {
    margin-bottom: 9px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.footer-list .footer-item {
    display: block;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;         
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.footer-list .footer-item:hover,
.footer-list .footer-item:focus {
    color: var(--accent-color);
} 

.footer-right {
    padding-top: 12px;
    margin-right: 93px;
}

.footer-social {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF1A;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
 color: currentColor;
    
}

.footer-social-link:focus,
.footer-social-link:hover {
    background-color: #188CE8;

}

/* Forma */

.booking-group {
    padding-top: 12px;
}

.booking-form {
    display: flex;
    gap: 12px;
    position: relative;
}

.booking-text-form {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}

.booking-emai-field {
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: 1px solid transparent;
    outline-offset: -1px;
   
}

.booking-emai-field:focus, .booking-emai-field:hover{
    outline-color: #2196F3;
    
}

.booking-emai-field::placeholder {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
 

.button-booking-fotm {
position: relative;

}

.button-booking {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 62px;
    border: none;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
              
    letter-spacing: 0.06em;
    cursor: pointer;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}



.button-booking:hover,
.button-booking:focus {
    background-color: var(--background-color-aktive);
    text-shadow: 0px 4px 4px #000000;

}

.plane-booking-fotm {
   position:absolute;
   top: 30%;
   left: 148px;
 
}


/*----------------------Портфоліо------------------ */

/* section-portfolio */

.portfolio {
 background-color: var(--background-color);
 padding-top: 100px;
 padding-bottom: 94px;
}

/*button*/
.portfolio-filter {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
  
}

/* .portfolio-item {
 margin-right: 8px;
 
} */

.portfolio-item .button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    display: block;
    margin-right: 8px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--background-color-secondary);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item .button:hover,
.portfolio-item .button:focus {
 color: var(--white-color);
 background-color: var(--accent-color);
 box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-item {
    flex-basis: calc((100% - 60px) / 3);

}

.project-link {
    display: block;
       
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-thumb {
    position: relative;
    overflow: hidden;
}


.project-overlay {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.project-link:hover .project-overlay {
    transform: translateY(0);
}

.project-link-text {
    
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(24px, 63px);
    
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1.56;
    color: #FFFFFF;
    width: 322px;
}



.project-infa {
    padding: 24px;
    border-left: 1px solid var(--border-portfolio);
    border-right: 1px solid var(--border-portfolio);
    border-bottom: 1px solid var(--border-portfolio);
}


.project-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.project-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
    
}
