body {
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--background-color-accent);
}

